<h3>Listado de Héroes</h3>

<div *ngIf="deletedHeroe; else nothingWasDeleted">
  <h3>Héroe Borrado <small class="text-danger"> {{deletedHeroe}} </small> </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button
  *ngIf="heroesNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrrar último Héroe
</button>


<ul class="list-group mt-2">
  <li *ngFor="let name of heroesNames"
      class="list-group-item" >
      {{name}}
  </li>
</ul>
